<section class="author">
    <h4><a href="{{url}}">{{name}}</a></h4>

    {{#if bio}}
        <p>{{bio}}</p>
    {{else}}
        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
    {{/if}}
</section>